Entrega2_DEFINITIVA/cliente/src/moneda_pb2.py
Entrega2_DEFINITIVA/cliente/src/moneda_pb2.pyi
Entrega2_DEFINITIVA/cliente/src/moneda_pb2_grpc.py

Entrega2_DEFINITIVA/broker/src/__pycache__/moneda_pb2.cpython-311.pyc
Entrega2_DEFINITIVA/broker/src/__pycache__/moneda_pb2_grpc.cpython-311

Entrega2_DEFINITIVA/broker/src/moneda_pb2.py
Entrega2_DEFINITIVA/broker/src/moneda_pb2.pyi
Entrega2_DEFINITIVA/broker/src/moneda_pb2_grpc.py